################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build-WarbandServerQueryClient-Desktop_x86_windows_msvc2019_pe_64bit-Debug
